@font-face {
    font-family: ALS_Sirius;
    src: url(../font/ALS_Sirius_Regular_0.95.otf);
}
@font-face {
    font-family: ALS_Sirius;
    src: url(../font/ALS_Sirius_Bold_0.95.otf);
    font-weight: bold;
}

body {
    font-family: ALS_Sirius;
}

#logo{
    width: 200px;
}

.header-logo{
    display: inline-block;

}

nav {
    padding: 10px
}

ul {
    list-style-type: none;
    display: inline;
    float: right
}

ul li{
    display: inline;
}

#li-logout{
    color: #ff4460;
}

#li-logout:hover{
    text-decoration: underline;
    cursor: pointer;
}

#div-greeting {
    margin: 0 auto;
    font-family: ALS_Sirius;
    font-weight: bold;
    font-size: 50px;
    width: 100%;
    text-align: center;
}

.balance-text{
    margin: auto;
    width: fit-content;
    margin-top: 20px;
    margin-bottom: 20px;
}

.balance-btn{
    background-color: #28be46;;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    display: block;
    width: fit-content;
    margin: auto;
    padding: 10px 50px 10px 50px;


}

.balance-btn:hover{
    opacity: 0.8;
}