/* Bordered form */
form {
	border: 3px solid #f1f1f1;
}
#logo{
	display: block;
	-webkit-user-select: none;
	margin: auto;
	background-color: hsl(0, 0%, 90%);
	transition: background-color 300ms;
	width: 250px;
}  

button {
	display: block;
	background-color: #28be46;
	border-radius: 50px;
	color: white;
	padding: 14px 20px;
	border: none;
	cursor: pointer;
	margin: auto;
	margin-top: 10px;
	width: 100%;
	
}

button:hover {
	opacity: 0.8;
}
  
.cancelbtn {
	width: auto;
	padding: 10px 18px;
	background-color: #f44336;
}
  
.container {
	font-family: Arial, Helvetica, sans-serif;
	padding: 16px;
	margin: auto;
	width: 35%;
}

.input-container {
	width: 100%;
	border-radius: 5px;	
}

.input-container label{
	font-size: 17px;
	font-weight: bold;

}
.input-container input{
	font-size: 14px;
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	border: 1px solid #ccc;
	box-sizing: border-box;

	border-radius: 5px;

}
#input-container-email{
	display: none;
}

#span-error{
	color: #ff4460;
	display: none;
	font-size: 13px;
	margin-top: 5px;
	text-align: right;
}

.reg-or-remind{
	margin: auto;
	width: 100%;
	text-align: center;
	margin-top: 20px;

}  
.btn-link{
	text-decoration: underline;
	text-decoration-color: #6572ff;
}

.btn-link:hover{
	cursor: pointer;
} 

#switch-auth{
	margin: auto;
}
